/.metadata
/NextStep/res
/NextStep/LuaScript
/NextStep/*.udf
*.udf
/NextStep-backup/NextStep-cocos2d-x-3.5/.buildpath
/NextStep-backup/NextStep-cocos2d-x-3.5/.cocos-project.json
/NextStep-backup/NextStep-cocos2d-x-3.5/.project
/NextStep-backup/NextStep-cocos2d-x-3.5/.settings/org.eclipse.core.resources.prefs
/NextStep-backup/NextStep-cocos2d-x-3.5/.settings/version.json
/NextStep-backup/NextStep-cocos2d-x-3.5/LuaScript/3D/empty.c3t
/NextStep-backup/NextStep-cocos2d-x-3.5/LuaScript/3D/white.png
/NextStep-backup/NextStep-cocos2d-x-3.5/LuaScript/CheckItemAddin.rar
/NextStep-backup/NextStep-cocos2d-x-3.5/LuaScript/abc.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/LuaScript/abc3D.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/LuaScript/sprite0.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/LuaScript/sprite3D.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/LuaScript/temp.png
/NextStep-backup/NextStep-cocos2d-x-3.5/NextStep.ccs
/NextStep-backup/NextStep-cocos2d-x-3.5/NextStep.cfg
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/HeroNode.csd
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Arrow/Disabled.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Arrow/Normal.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Arrow/Pressed.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block Back.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block Treasure.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block01.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block02.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block03.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block04.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block05.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block06.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block07.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block08.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block09.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block10.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block11.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block12.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block13.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block14.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/Block15.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/ExitBlock.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/HighlightBlock.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Block/SelectFrame.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Button/QuitNormal.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Button/QuitPressed.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Button/ResetBlockDisabled.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Button/ResetBlockNormal.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Button/ResetBlockPressed.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Button/RestartNormal.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Button/RestartPressed.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveDown1.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveDown2.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveDown3.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveDown4.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveLeft1.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveLeft2.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveLeft3.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveLeft4.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveRight1.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveRight2.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveRight3.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveRight4.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveUp1.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveUp2.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveUp3.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Charactor/moveUp4.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Frames/FrameBottom.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Frames/FrameTopLeft.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Frames/FrameTopRight.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Frames/Frames.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Map.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Other/MainSceneRightPanel.jpg
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Image/Other/Treasure.png
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Images.csd
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/JoyStick.csd
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/MainScene.csd
/NextStep-backup/NextStep-cocos2d-x-3.5/cocosstudio/Test.csd
/NextStep-backup/NextStep-cocos2d-x-3.5/config.json
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/Classes/AppDelegate.cpp
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/Classes/AppDelegate.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/Classes/ide-support/CodeIDESupport.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/Classes/ide-support/RuntimeLuaImpl.cpp
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/Classes/ide-support/RuntimeLuaImpl.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/Classes/ide-support/SimpleConfigParser.cpp
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/Classes/ide-support/SimpleConfigParser.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/Classes/ide-support/lang
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/Classes/ide-support/lua_debugger.c
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/Classes/ide-support/lua_debugger.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/Classes/lua_module_register.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/.classpath
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/.project
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/.settings/org.eclipse.jdt.core.prefs
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/AndroidManifest.xml
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/ant.properties
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/build-cfg.json
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/build.xml
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/jni/Android.mk
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/jni/Application.mk
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/jni/hellolua/main.cpp
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/proguard-project.txt
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/project.properties
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/res/drawable-hdpi/icon.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/res/drawable-ldpi/icon.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/res/drawable-mdpi/icon.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/res/values/strings.xml
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/com/chukong/cocosplay/client/CocosPlayClient.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxAccelerometer.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxActivity.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxBitmap.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxEditBoxDialog.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxEditText.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxGLSurfaceView.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxHandler.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxHelper.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxHttpURLConnection.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxJavascriptJavaBridge.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxLocalStorage.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxLuaJavaBridge.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxMusic.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxRenderer.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxSound.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxTextInputWraper.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxTypefaces.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxVideoHelper.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxVideoView.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxWebView.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/Cocos2dxWebViewHelper.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/GameControllerAdapter.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/GameControllerDelegate.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lib/GameControllerUtils.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.android/src/org/cocos2dx/lua/AppActivity.java
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/NextStep.xcodeproj/project.pbxproj
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/AppController.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/AppController.mm
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Default-568h@2x.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Default-667h@2x.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Default-736h@3x.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Default.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Default@2x.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-100.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-114.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-120.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-144.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-152.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-29.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-40.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-50.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-57.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-58.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-72.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-76.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Icon-80.png
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Info.plist
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/Prefix.pch
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/RootViewController.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/RootViewController.mm
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/build-cfg.json
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/ios/main.m
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/Base.lproj/ConsoleWindow.xib
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/Base.lproj/MainMenu.xib
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/ConsoleWindowController.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/ConsoleWindowController.m
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/Icon.icns
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/Info.plist
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/Prefix.pch
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/SimulatorApp.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/SimulatorApp.mm
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/build-cfg.json
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/en.lproj/MainMenu.xib
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/main.m
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/zh-Hans.lproj/ConsoleWindow.strings
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.ios_mac/mac/zh-Hans.lproj/MainMenu.xib
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/NextStep.sln
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/NextStep.vcxproj
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/NextStep.vcxproj.filters
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/NextStep.vcxproj.user
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/SimulatorWin.cpp
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/SimulatorWin.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/build-cfg.json
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/game.rc
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/main.cpp
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/main.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/res/game.ico
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/resource.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/stdafx.cpp
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/stdafx.h
/NextStep-backup/NextStep-cocos2d-x-3.5/frameworks/runtime-src/proj.win32/targetver.h
/NextStep-backup/NextStep-cocos2d-x-3.5/jsb.sqlite
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Default/Button_Disable.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Default/Button_Normal.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Default/Button_Press.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Default/Sprite.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/HeroNode.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Arrow/Disabled.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Arrow/Normal.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Arrow/Pressed.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block Back.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block Treasure.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block01.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block02.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block03.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block04.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block05.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block06.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block07.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block08.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block09.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block10.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block11.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block12.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block13.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block14.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/Block15.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/ExitBlock.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/HighlightBlock.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/SelectFrame.jpg
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Block/SelectFrame.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Button/QuitNormal.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Button/QuitPressed.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Button/RestartNormal.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Button/RestartPressed.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveDown1.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveDown2.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveDown3.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveDown4.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveLeft1.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveLeft2.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveLeft3.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveLeft4.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveRight1.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveRight2.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveRight3.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveRight4.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveUp1.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveUp2.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveUp3.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Charactor/moveUp4.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Frames/FrameBottom.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Frames/FrameTopLeft.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Frames/FrameTopRight.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Map.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Other/MainSceneRightPanel.jpg
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Image/Other/Treasure.png
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Images.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/res/JoyStick.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/res/LuaExtend.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/res/MainScene.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/res/Test.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/app/BlockObject.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/app/HeroObject.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/app/MapObject.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/app/MyApp.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/app/Services.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/app/views/MainScene.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/Cocos2d.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/Cocos2dConstants.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/DeprecatedCocos2dClass.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/DeprecatedCocos2dEnum.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/DeprecatedCocos2dFunc.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/DeprecatedOpenglEnum.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/DrawPrimitives.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/Opengl.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/OpenglConstants.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/bitExtend.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/deprecated.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/functions.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/json.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/luaj.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocos2d/luaoc.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocosbuilder/CCBReaderLoad.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocosbuilder/DeprecatedCocosBuilderClass.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocosdenshion/AudioEngine.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocosdenshion/DeprecatedCocosDenshionClass.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocosdenshion/DeprecatedCocosDenshionFunc.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocostudio/CocoStudio.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocostudio/DeprecatedCocoStudioClass.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocostudio/DeprecatedCocoStudioFunc.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/cocostudio/StudioConstants.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/controller/ControllerConstants.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/extension/DeprecatedExtensionClass.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/extension/DeprecatedExtensionEnum.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/extension/DeprecatedExtensionFunc.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/extension/ExtensionConstants.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/audio.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/components/event.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/device.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/display.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/LayerEx.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/MenuEx.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/NodeEx.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/SpriteEx.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/UICheckBox.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/UIEditBox.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/UIListView.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/UIPageView.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/UIScrollView.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/UISlider.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/UITextField.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/extends/UIWidget.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/init.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/package_support.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/framework/transition.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/init.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/network/DeprecatedNetworkClass.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/network/DeprecatedNetworkEnum.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/network/DeprecatedNetworkFunc.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/network/NetworkConstants.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/spine/SpineConstants.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/ui/DeprecatedUIEnum.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/ui/DeprecatedUIFunc.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/ui/GuiConstants.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/cocos/ui/experimentalUIConstants.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/config.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/main.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/packages/mvc/AppBase.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/packages/mvc/ViewBase.lua
/NextStep-backup/NextStep-cocos2d-x-3.5/src/packages/mvc/init.lua
/NextStep/.settings/org.eclipse.core.resources.prefs
/NextStep/src/cocos/3d/3dConstants.lua
